<script setup lang="ts">
import TodoItem from '../components/TodoItem.vue'
</script>

<template>
  <main>
    <TodoItem class="about">
      <template #title>About the application</template>
      <template #header>
        <div class="about-title">
          <h2>Aina Tojosoa A.</h2>
          <div class="h-divider">
            <div class="line"></div>
            <div class="text2"></div>
          </div>
        </div>
      </template>
      <template #body>
        <p>
          This to-do list application, utilizing the latest version of Bootstrap (Version 5) for a
          modern and responsive user interface, leverages the performance benefits of Vue 3's
          composition API with the setup function. The application also adopts Pinia, a state
          management library recommended by the Vue.js core team, ensuring efficient and scalable
          state management. Additionally, TypeScript is incorporated for enhanced type safety and
          developer productivity.
        </p>
        <div class="h-divider mb-5">
          <div class="line"></div>
          <div class="text2"></div>
        </div>
      </template>
    </TodoItem>
  </main>
</template>

<style scoped>
.about-title {
  color: black;
}
.h-divider {
  margin: auto;
  margin-top: 15px;
  width: 80%;
  position: relative;
}
.h-divider .line {
  overflow: hidden;
  height: 20px;
}

.h-divider .line:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
.h-divider .text2 {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
  border: 1px dashed #777;
}
</style>
