<script setup lang="ts">
import AddTodo from '../components/AddTodo.vue'
import ListTodo from '../components/ListTodo.vue'
import TodoItem from '../components/TodoItem.vue'
import { todoListStore } from '@/stores/todoListStore'
import { computed } from 'vue'

const store = todoListStore()

const completedTodoCount = computed(() => {
  return store.todoList.filter((todo) => todo.completed).length
})
</script>

<template>
  <main>
    <TodoItem>
      <template #title>Todo List Application (completed {{ completedTodoCount }})</template>
      <template #header>
        <AddTodo />
      </template>
      <template #body>
        <ListTodo />
      </template>
    </TodoItem>
  </main>
</template>
