<script setup lang="ts">
import { ref } from 'vue';
import {todoListStore} from '@/stores/todoListStore';

    const todo = ref("");
    const store = todoListStore();
function addItemAndClear(value: any) {
      if (value.length === 0) {
        return;
      }
      store.addTodo(value);
      todo.value = '';
    }
</script>

<template>
<div>
  <form @submit.prevent="addItemAndClear(todo)">
    <div class="form-group flex-fill mb-2">
      <input id="todo-input" type="text" class="form-control" v-model="todo">
    </div>
    <button type="submit" class="btn btn-add mb-2 ml-2">Add todo</button>
  </form>
</div>
</template>

<style scoped>
.btn-add {
  width: 100%;
  background-color: #DDD0C8;
  color: #fff;
}
.btn-add:hover {
  background-color: bisque;
  color: #000;
}
</style>

