<template>
  <div v-if="visible" class="modal">
    <div class="modal-content">
      <slot></slot>
      <button class="btn btn-danger mt-3" @click="closeModal">Close</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue'

const { visible } = defineProps(['visible'])
// eslint-disable-next-line vue/valid-define-emits
const emit = defineEmits()

const closeModal = () => {
  emit('update:visible', false)
}
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
}
</style>
