<script setup lang="ts">
import IconDelete from '@/components/icons/IconDelete.vue'
import IconEdit from '@/components/icons/IconEdit.vue'
import { todoListStore } from '@/stores/todoListStore'
import { storeToRefs } from 'pinia'
import { reactive } from 'vue'
import EditTodoModal from '@/components/EditTodoModal.vue'

const store = todoListStore()

const { todoList } = storeToRefs(store)

const { todoCompleted, deleteTodo } = store

const variables = reactive({ id: null, value: '', modalVisible: false })

const openModal = (todo: any) => {  
  variables.id = todo.id
  variables.value = todo.todo
  variables.modalVisible = true
}

const editTodo = () => {
  if (variables.id !== null) {
    store.editTodo(variables.id, variables.value)
    variables.modalVisible = false
  }
}

const checkCompleted = (id: number) => {
  todoCompleted(id)
}
</script>

<template>
  <div class="col col-12 p-2 todo-item" v-for="todo in todoList" :key="todo.id">
    <div class="input-group" :class="{ completed: todo.completed }">
      <div class="input-group-prepend">
        <div class="input-group-text check-completed">
          <input
            type="checkbox"
            :value="todo.completed"
            v-model="todo.completed"
            @change="checkCompleted(todo.id)"
          />
        </div>
      </div>
      <input type="text" readonly class="form-control" v-model="todo.todo" />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary bg-warning text-white"
          type="button"
          @click="() => openModal(todo)"
          id="button-addon2 "
        >
          <IconEdit />
        </button>
      </div>
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary bg-danger text-white"
          type="button"
          @click="deleteTodo(todo.id)"
          id="button-addon2 "
        >
          <IconDelete />
        </button>
      </div>
    </div>
  </div>
  <EditTodoModal
    :visible="variables.modalVisible"
    @update:visible="variables.modalVisible = $event"
  >
    <form @submit.prevent="editTodo">
      <h2>Edit value Todo</h2>
      <div class="form-group flex-fill mb-3">
        <input id="todo-input" type="text" class="form-control" v-model="variables.value" />
      </div>
      <button type="submit" class="btn btn-edit mb-2 ml-2">Edit todo</button>
    </form>
  </EditTodoModal>
</template>

<style scoped>
.check-completed {
  height: 100%;
}
.completed {
  text-decoration: line-through;
}
.btn-edit {
  width: 100%;
  background-color: #DDD0C8;
  color: #fff;
}
.btn-edit:hover {
  background-color: bisque;
  color: #000;
}
</style>
