<!-- eslint-disable vue/multi-word-component-names -->
<script setup lang="ts">
</script>

<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand ms-3" href="#">Application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <RouterLink class="nav-link" to="/">Home</RouterLink>
                    </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/about">About</RouterLink>          </li>
        </ul>
      </div>
    </nav>
</template>

<style scoped>

.router-link-exact-active {
  color: bisque;
}
.router-link-exact-active:hover {
  color: #DDD0C8;
}
</style>