<template>
  <div class="container">
    <div class="row justify-content-center align-items-center main-row">
      <div class="col main-col bg-white text-center">
        <div class="row bg-title text-white">
          <div class="col p-2">
            <h4>
              <slot name="title"></slot>
            </h4>
          </div>
        </div>
        <div class="row justify-content-between text-white p-2">
          <slot name="header"></slot>
        </div>
        <div class="row mb-5">
          <slot name="body"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.main-row {
  margin-top: 50px;
  padding-bottom: 15px;
}
.main-col {
  max-width: 500px;
  min-height: 300px;
  box-shadow: var(--bs-box-shadow) !important;
}
.bg-title {
  background-color: #ddd0c8;
}
.todo-done {
  text-decoration: line-through;
}
</style>
